.homepage__spanish {
	h2 {
		color: #582b02;
	}
	h3:not(.homepage-h2):before {
		background-color: #244eed;
	}
	.highlight-color {
		color: #d88134;
	}
	.button-orange {
		margin-bottom: 30px;
	}
	ul.circled-list li:before {
		content: url(../img/icons/check-circle-3.png);
	}
	ul.cheked-list li:before {
		content: url(../img/icons/check-icon_bold-2.png);
	}

	.homepage-hero {
		background-image:
			url(../img/homepage-spanish_hero-clouds.png),
			url(../img/homepage-spanish_hero-img.png),
			url(../img/homepage-spanish_hero-bg.png);
		background-repeat: repeat-x, no-repeat, no-repeat;
		background-position: bottom, bottom 100px right, bottom;
		background-size: auto, 57%, cover;
		@include mq($max-width: 1399px) {
			background-size: auto, 65%, cover;
		}
		@include mq($max-width: 991px) {
			background-image:
				url(../img/homepage-spanish_hero-clouds.png),
				url(../img/homepage-spanish_hero-bg.png);
			background-repeat: repeat-x, no-repeat;
			background-position: bottom, bottom;
			background-size: auto, cover;
		}
		&__content {
			padding-top: 100px;
			padding-bottom: 160px;
		}
		h1 {
			font-size: 48px;
		}
		p {
			font-size: 24px;
		}
	}
	.issues-section {
		background-color: #fff5ea;
	}


	.section-background__right {
		background: linear-gradient(to left, #fff5ea calc(50% - 20px), #fff calc(50% - 20px));
		@include mq($max-width: 991px) {
			background: none;
		}
	}
	.section-background__left {
		background: linear-gradient(to right, #fff5ea calc(50% - 20px), #fff calc(50% - 20px));
		@include mq($max-width: 991px) {
			background: none;
		}
	}
	.rrc-section {
		background: #fff5ea;
		h2 {
			padding-bottom: 35px;
		}
	}
	.salesforce-app {
		background: #fff5ea;
		&__blue-bg {
			@include mq($min-width: 992px) {
				background: linear-gradient(to right, #fff5ea 50%, #e5c5aa 50%);
			}
		}
		&__img-container {
			background: #e5c5aa;
			padding: 0 10px;
			@include mq($max-width: 991px) {
				background: initial;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 0;
			}
		}
	}
	.salesforce-mobile {
		@include mq($min-width: 992px) {
			background: linear-gradient(to right, #fff5ea 50%, #fff 50%);
		}
	}
	// Slider #1
	.property-slider {
		.slide__title {
			font-size: 28px;
			color: #d88134;
			&:hover {
				box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
				color: #244eed;
			}
		}
	}
	.why-section {
		background: #fff5ea;
		h2 {
			padding-bottom: 50px;
		}
	}
	.testimonials-slider {
		.testimonials-slide__avatar {
			background-color: #fff5ea;
		}
	}
	.case-studies {
		background: #fff5ea;
	}
	.awards {
		h2 {
			color: #ffffff;
		}
	}
	.demo-section {
		background: url(../img/homepage-spanish_hero-clouds.png) bottom / auto repeat-x,
			url(../img/homepage-demo-bg.jpg) center / cover no-repeat;
		h2 {
			color: #fff;
		}
	}
	.blog {
		background-color: #fff5ea;
		&__item:hover {
			color: #244eed;
		}
	}
}