.invoice-page {
	padding-top: 0;
	background: #f7f8fc;
	.invoice-header {
		padding: 20px 0;
		font-size: 14px;
		line-height: 1.5;
		background: #ffffff;
		box-shadow: 0px 4px 8px rgba(129, 129, 129, 0.25);
		.logo img {
			max-width: 200px;
			width: 100%;
			height: auto;
		}
		.col-gutter {
			padding-right: 10px;
		}
		&__company-name {
			padding-bottom: 10px;
			font-size: 16px;
			font-weight: 600;
			color: #000000;
			@include mq($max-width: 575px) {
				padding-top: 20px;
				text-align: center;
			}
		}
		a {
			display: block;
			font-weight: 500;
			font-size: 14px;
			color: #1168ad;
			transition: all 0.3s ease;
			&:hover {
				color: #3e63f5;
			}

			&.header__site-link {
				text-decoration: none;
			}
			&.header__tel-link {
				text-decoration: none;
				font-weight: normal;
				color: #323232;
				&:hover {
					color: #3e63f5;
				}
			}
		}
	}
	.scroll-container {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.invoice-card {
		margin-top: 40px;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.3;
		color: #323232;
		box-shadow: 0px 4px 8px rgba(129, 129, 129, 0.25), 0px -4px 8px rgba(177, 177, 177, 0.25);
		&__header {
			padding: 20px 30px;
			background: #edf2f6;
			font-weight: 600;
			font-size: 18px;
			color: #323232;
			@include mq($max-width: 767px) {
				padding: 20px;
			}
		}
		&__body {
			padding: 20px 30px;
			background: #ffffff;
			@include mq($max-width: 767px) {
				padding: 20px;
			}
		}
		&__heading {
			font-size: 18px;
		}
		&__footer {
			background: #f7f8fc;
			padding-left: 30px;
			padding-right: 30px;
			@include mq($max-width: 767px) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		&__footer-row {
			padding: 15px 0;
			text-align: right;
			font-weight: 500;
			font-size: 18px;
			color: #323232;
			@include mq($max-width: 576px) {
				font-size: 15px;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #dadada;
			}
			.card-footer-label {
				font-weight: 600;
			}
		}
		.info-field {
			line-height: normal;
			display: flex;
			padding-bottom: 10px;
			word-break: break-all;
			@include mq($max-width: 575px) {
				flex-direction: column;
				padding-bottom: 15px;
				line-height: 1.5;
			}
			&__label {
				padding-right: 10px;
				min-width: 115px;
			}
		}
		.invoice-table {
			font-weight: 500;
			font-size: 14px;
			line-height: 1.3;
			color: #323232;
			background: #ffffff;
			thead th {
				background: #edf2f6;
				padding-top: 20px;
				padding-bottom: 20px;
				font-weight: 600;
				font-size: 18px;
				text-align: left;
				@include mq($max-width: 991px) {
					font-size: 15px;
				}
				@include mq($max-width: 767px) {
					font-size: 14px;
				}
			}
			th,
			td {
				padding: 18px 15px;
				vertical-align: middle;
				@include mq($max-width: 767px) {
					padding: 7px 10px;
					font-size: 12px;
				}
			}
			td.empty-col + td,
			th.empty-col + th {
				padding-left: 0px;
			}
			td + td:not(.empty-col),
			th + th:not(.empty-col) {
				padding-right: 0px;
			}
			tr:not(:last-child) td {
				border-bottom: 1px solid #dadada;
			}
			tr.extra-line td {
				border-bottom: 2px solid #7f7f81;
			}
			.empty-col {
				padding: 0 15px;
				width: 30px;
				border: none !important;
				@include mq($max-width: 767px) {
					padding: 0 10px;
					width: 20px;
				}
			}
			.inputPercent {
				max-width: 100px;
				border: 1px solid #dadada;
				border-radius: 3px;
				box-shadow: none;
				font-weight: 500;
				font-size: 14px;
				height: 36px;
				color: #323232;
				@include mq($max-width: 767px) {
					font-size: 12px;
					max-width: 60px;
				}
			}
			.text-nowrap {
				word-break: break-all;
				white-space: nowrap;
			}
		}
		.color-red {
			color: #9f0000;
		}
	}
	.button-orange__small {
		max-width: 120px;
		padding: 10px 20px;
		font-size: 14px;
		min-width: unset;
	}
	.add-code-button {
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		text-align: right;
		text-decoration-line: underline;
		color: #1769f8;
		@include transition(all 0.3s);
		&:hover {
			color: #323232;
		}
	}
	.add-code-container {
		padding-top: 10px;
		display: none;
		.valid-code {
			display: none;
			font-size: 14px;
			letter-spacing: 0;
			padding: 3px 2px 0px;
			color: #1bbd45;
			i {
				font-size: 16px;
				padding-right: 5px;
				vertical-align: bottom;
			}
		}
	}
	.refferal-code-input {
		width: 100%;
		max-width: 190px;
		font-size: 18px;
		color: #323232;
		text-align: right;
		box-shadow: none;
		border: 1px solid #dadada;
		border-radius: 3px;
		outline: none;
	}
	.terms-checkbox {
		margin: 20px 0;
		label {
			display: flex;
			justify-content: flex-end;
			font-size: 14px;
			font-weight: 500;
			color: #323232;
			a {
				display: inline-block;
				padding: 0 5px;
				color: #1769f8;
				text-decoration: none;
				&:hover {
					color: #323232;
				}
			}
			p {
				line-height: 22px;
			}
		}
		input[type='checkbox'] {
			margin-right: 10px;
			appearance: none;
			width: 20px;
			height: 20px;
			border: 1px solid #dadada;
			position: relative;
			background: #ffffff;
			&:checked {
				background-color: #1769f8;
				text-align: center;
				&:before {
					content: '\f00c';
					font-family: 'Font Awesome 5 Free';
					font-weight: 700;
					color: #fff;
					font-size: 12px;
					display: inline-block;
					line-height: 20px;
				}
			}
		}
	}
	.place-order-btn {
		padding: 15px;
		font-weight: 600;
		font-size: 24px;
		line-height: 1;
		min-width: 260px;
	}
	.text-section {
		padding-top: 30px;
		padding-bottom: 75px;
		font-weight: 500;
		font-size: 14px;
		&__header {
			padding-bottom: 15px;
			font-weight: 600;
			font-size: 18px;
			color: #1966f4;
		}
	}
	.terms-modal {
		max-width: 80vw;
		max-height: 80vh;
		padding: 0;
		cursor: default !important;
		font-size: 14px;
		line-height: 1.3;
		color: #323232;
		position: relative;
		overflow: unset;
		.fancybox-button {
			padding: 4px;
			width: 40px;
			height: 40px;
		}
		&__header {
			position: sticky;
			padding: 5px 40px 5px 10px;
			top: 0;
			height: 40px;
			background-color: #dfdfdf;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			p {
				font-size: 15px;
				font-weight: 500;
				letter-spacing: 0.38px;
				color: #323232;
			}
		}
		&__content {
			text-align: justify;
			overflow-y: auto;
			max-height: calc(80vh - 40px);
			padding: 20px 60px 20px;
			font-size: 14px;
			@include mq($max-width: 575px) {
				padding: 20px 20px 20px;
			}
			h2 {
				padding-top: 35px;
				padding-bottom: 25px;
				font-size: 36px;
				font-weight: bold;
				text-align: center;
				@include mq($max-width: 575px) {
					font-size: 24px;
				}
			}
			h3 {
				padding-top: 15px;
				padding-bottom: 8px;
				font-size: 20px;
			}
			p {
				padding-bottom: 5px;
			}
			ul {
				padding-left: 20px;
				li::before {
					content: '-';
					padding-right: 20px;
					font-weight: bold;
				}
			}
			a {
				color: #1966f4;
			}
		}
		.simple-table {
			margin: 15px auto;
			max-width: 600px;
			th,
			td {
				text-align: left;
				padding: 5px 10px;
				border: 1px solid black;
			}
		}
		.button-orange__small {
			max-width: unset;
			padding-left: 30px;
			padding-right: 30px;
			color: #fff;
		}
		.button-section {
			margin-bottom: 15px;
		}
		.text_underline {
			text-decoration: underline;
		}
		.list__latin {
			padding-left: 30px;
			list-style-type: upper-latin;
			li {
				padding-left: 5px;
				padding-bottom: 20px;
			}
		}
		.list__decimal {
			padding-left: 30px;
			list-style-type: decimal;
			li {
				padding-left: 5px;
				padding-bottom: 20px;
			}
		}
	}
	.thank-you-section {
		padding-top: 70px;
		color: #323232;
		h1 {
			padding-bottom: 30px;
			font-weight: 900;
			font-size: 36px;
			color: #323232;
			text-align: center;
		}
		article {
			background: #ffffff;
			padding: 30px 40px 22px;
			font-weight: 500;
			font-size: 16px;
		}
		P {
			padding-bottom: 8px;
		}
		a {
			color: #1966f4;
			text-decoration: none;
			@include transition(all 0.3s);
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
