.parking-page {
	&__hero {
		@extend .segment__hero;
		background-color: #f6f8fa;
		background-image: url(../img/parking-cloud.png);
		background-position: bottom;
		padding-bottom: 120px;
		@include mq($max-width: 991px) {
			font-size: 24px;
		}
	}
	&__center-text {
		background: linear-gradient(0deg, #fff, #f8f8ff 100%);
		position: relative;
		overflow: hidden;
		text-align: center;
		padding: 35px 0 40px 0;
		.container {
			max-width: 1000px;
		}
		h2 {
			@extend .title-h2;
			padding-bottom: 30px;
		}
		p {
			color: #3a3a3a;
			padding-bottom: 20px;
		}
		.button-orange {
			margin-top: 10px;
		}
	}
	&__feature {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 40px;
		h2 {
			@extend .title-h2;
			padding-bottom: 30px;
			span {
				color: #5837ae;
			}
		}
		p {
			color: #3a3a3a;
		}
	}
	&__feature-top {
		padding-bottom: 40px;
		max-width: 1000px;
		margin: 0 auto;
	}
	&__feature-item {
		height: calc(100% - 40px);
		padding: 13px;
		box-sizing: border-box;
		box-shadow: 0 0 46px rgba(0, 0, 0, 0.07);
		border-radius: 8px;
		text-align: initial;
		margin-bottom: 40px;
		p {
			padding-bottom: 15px;
			font-size: 16px;
			color: #2d2d2d;
		}
	}
	&__feature-title {
		display: flex;
		justify-content: space-between;
		font-size: 30px;
		color: #2d2d2d;
		padding-bottom: 14px;
		margin-bottom: 19px;
		@include mq($max-width: 991px) {
			font-size: 20px;
			align-items: flex-start;
		}
		strong {
			position: relative;
			font-weight: 500;

			&:after {
				content: '';
				width: 103px;
				height: 2px;
				position: absolute;
				left: 0;
				bottom: -14px;
				background: #f79c6a;
			}
		}
		img {
			@include mq($max-width: 1200px) {
				max-width: 100%;
			}
		}
	}
	&__main-title {
		@extend .vacation-page__main-title;
		h2 {
			span {
				color: #7256bb;
			}
		}
	}
	.pricing-addons__slide-price,
	.learn-more-center a,
	.learn-more-center a {
		color: #7256bb;
	}
}

.parking-page__articles {
	@extend .segment__articles;
	padding-bottom: 45px;
	@include mq($max-width: 991px) {
		padding-bottom: 0;
	}
}
.parking-page__article {
	@extend .segment__article;
	padding: 15px 0;
	position: relative;
	color: #2d2d2d;
	article {
		padding: 50px 0;
		@include mq($max-width: 991px) {
			padding: 30px 0 20px;
		}
	}
	p {
		padding-bottom: 15px;
	}
	ul {
		li {
			padding-bottom: 20px;
			position: relative;
			padding-left: 35px;
			background: url(../img/parking-list-ico.png) no-repeat left top;
			color: #2d2d2d;
		}
	}
}
.parking-page__prices {
	// p{
	// 	text-align: center;
	// 	color: #404040;
	//   padding-bottom: 35px;
	// }
	// h3{
	// 	padding-bottom: 15px;
	// }
	// section{
	//   text-align: center;
	// 	padding-bottom: 15px;
	// }
	.segment__price:before {
		content: url(../img/parking-check.png);
	}
}
.parking-page__addons {
	p {
		text-align: center;
		color: #404040;
		padding-bottom: 25px;
	}
}
.parking-page__faq {
	.segment__list li::before {
		background: url(../img/parking-list-ico.png) no-repeat;
	}
}

.rtl {
	.parking-page__article ul li {
		background-position-x: right;
	}

	.parking-page__feature-title strong:after {
		left: unset;
		right: 0;
	}
	.segment__price:before {
		margin-left: 15px;
		margin-right: 0;
	}
}
