.segment {
	font-size: 18px;
	@include mq($max-width: 991px) {
		font-size: 16px;
	}
	.section-title {
		font-size: 42px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 1px;
		color: #2d2d2d;
		padding-bottom: 25px;
		@include mq($max-width: 991px) {
			font-size: 30px;
			font-weight: 500;
		}
	}
	&__hero {
		padding: 60px 0 300px 0;
		background: #f6f8fa url(../img/hotel-clouds.png) repeat-x bottom;
		@include mq($max-width: 991px) {
			padding-bottom: 250px;
		}
		img {
			-webkit-filter: drop-shadow(0 0 38px rgba(0, 0, 0, 0.1));
			filter: drop-shadow(0 0 38px rgba(0, 0, 0, 0.1));
			@include mq($max-width: 991px) {
				margin-bottom: 20px;
			}
		}
		h1 {
			font-size: 48px;
			color: #3b3b3b;
			padding-bottom: 25px;
			font-weight: 500;
			@include mq($max-width: 991px) {
				font-size: 42px;
			}
			@include mq($max-width: 766px) {
				font-size: 36px;
			}
		}
		h2 {
			font-size: 20px;
			color: #252525;
			padding-bottom: 25px;
		}
		a {
			min-width: 250px;
			padding: 15px 30px;
		}
		@include mq($max-width: 991px) {
			text-align: center;
		}
	}
	&__management {
		margin-top: -135px;
		text-align: center;
		padding-bottom: 100px;
		text-align: center;
		background: linear-gradient(#f5f9fc 0%, rgba(255, 255, 255, 1) 100%);
		@include mq($max-width: 991px) {
			padding-bottom: 50px;
		}
		h2 {
			margin-bottom: 24px;
			font-weight: 400;
			font-size: 42px;
			letter-spacing: 0.04px;
			color: #2d2d2d;

			@include mq($max-width: 768px) {
				margin-bottom: 14px;
				font-size: 28px;
			}
		}
		p {
			font-size: 16px;
			color: #3a3a3a;
		}
		&-box {
			margin-top: 40px;
			background: #fff;
			box-shadow: 0 0 76px rgba(0, 0, 0, 0.15);
			border-radius: 20px;
			height: calc(100% - 60px);
			padding: 38px 10px;
			margin-bottom: 20px;
			color: #3a3a3a;
			figure {
				width: 100px;
				height: 100px;
				border-radius: 10px;
				margin: 0 auto;
				box-shadow: 0 0 76px rgba(0, 0, 0, 0.15);
				margin-bottom: 18px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			h3 {
				// font-size: 18px;
				font-weight: 500;
				padding-bottom: 20px;
			}
			p {
				font-weight: 400;
				padding: 0;
			}
		}
	}
	&__articles {
		font-size: 18px;
		color: #2d2d2d;
		font-weight: 400;
		@include mq($max-width: 991px) {
			font-size: 16px;
		}
	}
	&__article {
		padding: 100px 0;
		@include mq($max-width: 991px) {
			padding: 30px 0;
		}
		figure {
			display: flex;
			justify-content: flex-end;
			@include mq($max-width: 991px) {
				padding-bottom: 15px;
			}
		}
		&:nth-child(2n) {
			figure {
				justify-content: flex-start;
			}
		}
		h2:not(.unstyled),
		h3.title-underline {
			@extend .title-bordered;
		}
		h3 {
			font-size: 20px;
			font-weight: 500;
			padding-bottom: 10px;
		}
		section {
			padding: 0 0 30px 0;
		}
	}
	&__addons {
		padding-top: 70px;
		.section-subtitle {
			padding-bottom: 30px;
			text-align: center;
		}
	}
	&__prices {
		background: #f6f8fa;
		padding: 50px 0;
		color: #303030;
		section {
			text-align: center;
			padding-bottom: 25px;
		}
		.section-title {
			margin-bottom: 10px;
		}
		h2 {
			@extend .title-h2;
			padding-bottom: 25px;
			color: #303030;
		}
		h3 {
			font-size: 30px;
			color: #3a3a3a;
			text-align: center;
			padding-bottom: 25px;
			span {
				font-size: 48px;
				color: #f79c6a;
			}
			@include mq($max-width: 991px) {
				font-size: 20px;
				span {
					font-size: 26px;
				}
			}
		}
		p {
			padding-bottom: 20px;
			font-size: 20px;
			font-weight: 500;
			text-align: center;
			@include mq($max-width: 991px) {
				font-size: 18px;
				font-weight: 400;
			}
		}
	}
	&__price {
		padding: 5px;
		padding-bottom: 1px;
		background: #ffffff;
		border: 1px solid #dddfe0;
		border-radius: 5px;
		margin-bottom: 20px;
		box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
		display: flex;
		align-items: center;
		// font-size: 18px;
		color: #393939;
		b {
			font-weight: 500;
		}
		&:before {
			content: url(../img/hotel-checkbox.png);
			margin-right: 15px;
			display: block;
		}
	}
	&__trends {
		padding: 130px 0 75px 0;
		background: #f5f9fc url(../img/hotel-cloud-bg.jpg) repeat-x center top;
		h3 {
			text-align: center;
			font-size: 42px;
			color: #2d2d2d;
			font-weight: 500;
			padding-bottom: 40px;
			@include mq($max-width: 991px) {
				font-size: 30px;
			}
			@include mq($max-width: 767px) {
				font-size: 26px;
			}
		}
	}
	&__trend {
		text-align: center;
		@include mq($max-width: 991px) {
			margin-bottom: 30px;
		}
		img {
			width: 100%;
		}
		figcaption {
			padding-top: 10px;
			a {
				// font-size: 18px;
				color: #252525;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: #f79c6a;
				}
			}
		}
	}
	&__list {
		li {
			position: relative;
			margin-bottom: 18px;
			padding-left: 39px;
			letter-spacing: 0.05px;
			line-height: 1.35;

			&::before {
				content: '';
				position: absolute;
				top: 5px;
				left: 3px;
				width: 24px;
				height: 24px;
				background: url(../img/icon-1.svg);
				background-size: 24px;
			}
		}
	}
	&__faq {
		padding-top: 60px;
		padding-bottom: 70px;
		@include mq($max-width: 767px) {
			padding-bottom: 50px;
			padding-top: 50px;
		}
	}
	&-accordion {
		&__item {
			margin-bottom: 12px;
			background-color: #fff;
			border-radius: 15px;
			border: solid 3px #f8fafc;
			overflow: hidden;
			&.active {
				.segment-accordion__icon {
					transform-origin: center;
					transform: rotate(180deg) translateY(50%);
				}
			}
		}
		&__trigger {
			padding: 10px 45px 10px 68px;
			min-height: 70px;
			position: relative;
			display: flex;
			align-items: center;
			background: #f8fafc url(../img/icons/faq-question.png) no-repeat 15px center;
			cursor: pointer;
			h3 {
				font-size: 22px;
				font-weight: normal;
				letter-spacing: 1.1px;
				color: #3b3b3b;
				@include mq($max-width: 991px) {
					font-size: 18px;
				}
			}
		}
		&__icon {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 18px;
			line-height: 1;
			@include transition(all 0.3s ease);
		}
		&__content {
			display: none;
			padding: 20px 30px 10px;
			font-size: 16px;
			line-height: normal;
			letter-spacing: 0.8px;
			color: #3b3b3b;
			p {
				padding-bottom: 20px;
			}
			@include mq($max-width: 991px) {
				font-size: 14px;
			}
			a {
				color: #3e63f5;
			}
		}
		&__list {
			padding-top: 8px;
			li::before {
				top: 0px;
			}
		}
	}
	&-cards {
		margin-top: 40px;
		&__item {
			margin-bottom: 20px;
			padding: 25px;
			height: calc(100% - 20px);
			background: #fff;
			box-shadow: 0 0 76px rgba(0, 0, 0, 0.15);
			border-radius: 20px;
			color: #3a3a3a;
			text-align: center;
			figure {
				margin: 0 auto 25px;
				width: 100px;
				height: 100px;
				border-radius: 10px;
				box-shadow: 0 0 76px rgba(0, 0, 0, 0.15);
				display: flex;
				align-items: center;
				justify-content: center;
			}
			h3 {
				font-weight: 500;
				padding-bottom: 20px;
			}
			p {
				font-size: 16px;
				font-weight: 400;
				padding: 0;
			}
		}
		&__item-horizontal {
			padding: 20px;
			display: flex;
			align-items: center;
			font-size: 16px;
			text-align: initial;
			figure {
				margin: 0;
				flex-shrink: 0;
				margin-bottom: 0;
			}
			p {
				padding-left: 20px;
				text-align: initial;
			}
		}
		&__small {
			p {
				padding: 0;
				padding-left: 12px;
			}
		}
	}
	&-steps {
		counter-reset: step;
		&__step {
			position: relative;
			padding-left: 70px;
			&:before {
				content: counter(step);
				position: absolute;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 65px;
				height: 65px;
				border-radius: 50%;
				background-color: #d3e0ff;
				text-shadow: 0 0 35px rgba(66, 69, 184, 0.29);
				font-size: 48px;
				font-weight: bold;
				line-height: 1;
				text-align: center;
				color: #9396f4;
				counter-increment: step;
			}
			dt {
				padding-left: 5px;
				font-size: 30px;
				line-height: 65px;
				font-weight: 500;
				letter-spacing: 0.75px;
			}
			&:not(:last-child) {
				padding-bottom: 30px;
			}
			.button-orange {
				margin-top: 15px;
			}
		}
	}

	.button-orange,
	.button-blue {
		padding: 15px 30px;
	}
}

.pricing-addons__slide-price {
	font-size: 30px;
	color: #3e63f5;
	small {
		color: #3a3a3a;
		font-size: 16px;
	}
}
.learn-more-center {
	text-align: center;
	padding-top: 30px;
	a {
		color: #3e63f5;
		font-size: 18px;
		font-weight: 500;
	}
}

.segment-spanish {
	h1 {
		color: #5c3b19;
	}
	h2 {
		color: #5c3b19;
	}
	h2:not(.unstyled):before,
	h3.title-underline:before {
		background-color: #244eed;
	}
	.segment__list li::before {
		background: url(../img/icons/check-circle-3.png) no-repeat left top;
	}
	.segment-accordion__trigger {
		background: #fff2e6 url(../img/icons/faq-question.png) no-repeat 15px center;
	}
}

.rtl {
	.segment {
		&-cards {
			&__item-horizontal {
				p {
					padding-left: 0;
					padding-right: 20px;
					text-align: right;
				}
			}
			&__small {
				p {
					padding: 0;
					padding-right: 12px;
				}
			}
		}
		&__list {
			padding-top: 8px;
			li {
				padding-left: 0;
				padding-right: 35px;
				&::before {
					left: unset;
					right: 0;
				}
			}
		}
	}
}
