.student-housing-page__hero {
	@extend .segment__hero;
	background-image: url(../img/student-housing-cloud.png);
	background-position: bottom;
	padding-bottom: 120px;
	@include mq($max-width: 991px) {
		font-size: 24px;
	}
}
.student-housing-page__center-text {
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 1%, rgba(238, 241, 252, 1) 100%);
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 35px 0 50px 0;
	.button-orange,
	.button-blue {
		margin-top: 10px;
	}
	h2 {
		color: #303030;
		padding-bottom: 25px;
		@extend .title-h2;
	}
	p {
		color: #3a3a3a;
		padding-bottom: 15px;
	}
}
.student-housing-page__main-title {
	text-align: center;
	padding-bottom: 20px;
	h2 {
		color: #303030;
		padding-bottom: 25px;
		@extend .title-h2;
	}
	p {
		padding-bottom: 20px;
		color: #525252;
	}
}

.student-housing-page__articles {
	@extend .segment__articles;
	padding-bottom: 45px;
	@include mq($max-width: 991px) {
		padding-bottom: 0;
	}
}
.student-housing-page__article {
	@extend .segment__article;
	padding: 15px 0;
	position: relative;
	color: #2d2d2d;
	article {
		padding: 50px 0;
		@include mq($max-width: 991px) {
			padding: 30px 0 20px;
		}
		p {
			padding-bottom: 20px;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
	ul {
		li {
			padding-bottom: 20px;
			position: relative;
			padding-left: 35px;
			background: url(../img/coworking-list-icon.png) no-repeat left top;
			color: #2d2d2d;
		}
	}
	.segment-article-figure__right {
		justify-content: flex-start;
	}
}

// Spanish version
.segment-spanish {
	.student-housing-page__hero {
		background: url(../img/student-housing-spanish-cloud.png) repeat-x bottom, #ffeedc;
	}
	.student-housing-page__center-text {
		background: linear-gradient(0deg, rgba(255, 255, 255, 1) 1%, #fff8f1 100%);
	}
	.student-housing-page__article ul li {
		background: url(../img/icons/check-circle-3.png) no-repeat left top;
	}
	.student-housing-page__center-text h2,
	.student-housing-page__main-title h2 {
		color: #5c3b19;
	}
	.student-housing-page__article {
		.col-lg-6:first-child:after {
			background: url(../img/student-housing-spanish-trail-2.png) no-repeat center;
		}
		&:nth-child(2n) .col-lg-6:first-child:after {
			background: url(../img/student-housing-spanish-trail-1.png) no-repeat center;
		}
	}
}

.rtl .student-housing-page__article {
	ul {
		li {
			padding-left: 0;
			padding-right: 35px;
			background-position-x: right;
		}
	}
}
