.ukpms-hero {
	background:url(../img/ukpms-hero-clouds.png) repeat-x bottom, url(../img/ukpms-hero-bg.jpg) no-repeat center;
	background-size: auto, cover;
	padding-top: 140px;
	padding-bottom: 255px;
	@include mq($max-width: 991px) {
		text-align: center;
	}
	@include mq($max-width: 575px) {
		padding-top: 80px;
		padding-bottom: 150px;
		text-align: center;
	}
	h1 {
		padding-bottom: 25px;
		font-size: 55px;
		font-weight: normal;
		line-height: normal;
		letter-spacing: 0.55px;
		color: #2b54a1;
		@include mq($max-width: 767px) {
			font-size: 36px;
		}
	}
	h2 {
		padding-right: 20px;
		padding-bottom: 30px;
		font-size: 30px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.75px;
		color: #3f3f3f;
		@include mq($max-width: 991px) {
			padding-right: 0px;
			font-size: 24px;
		}
	}
	p {
		padding-bottom: 30px;
		font-size: 18px;
		line-height: normal;
		letter-spacing: 0.9px;
	}
}
.ukpms-section {
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.18px;
	color: #2d2d2d;
	@include mq($max-width: 991px) {
		padding-top: 40px;
		padding-bottom: 10px;
		font-size: 16px;
	}
	&__bg {
		background-color: #f5f9fc;
	}
	.title-h2 {
		padding-bottom: 30px;
		span {
			color: #2b54a1;
		}
	}
	p {
		padding-bottom: 30px;
	}
	ul.circled-list {
		padding-bottom: 15px;
		li {
			padding-left: 36px;
			padding-bottom: 15px;
			position: relative;
			&:before {
				position: absolute;
				left: 0;
				top: 0px;
				display: block;
				content: url(../img/icons/check-circle-2.png);
			}
			ul {
				margin-bottom: 0;
				padding-top: 15px;
				padding-left: 20px;
				padding-bottom: 0;
				li {
					padding-bottom: 0;
					padding-left: 12px;
					&::before {
						line-height: 1;
						top: 4px;
						content: url(../img/icons/list-arrow-right.png);
					}
				}
			}
		}
	}
	ul.cheked-list {
		padding-bottom: 15px;
		line-height: normal;
		li {
			padding-bottom: 15px;
			padding-left: 22px;
			position: relative;
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				content: url(../img/icons/check-icon_bold.png);
			}
		}
	}
	.section-img {
		margin-left: auto;
		margin-right: auto;
		display: block;
		@include mq($max-width: 991px) {
			padding-bottom: 30px;
		}
	}
	&__img-left {
		float: right;
		@include mq($max-width: 991px) {
			padding-bottom: 30px;
			float: unset;
		}
	}
	.no-padding {
		padding: 0;
	}
}

.ukpms-section__modernize {
	padding-top: 0;
	@include mq($max-width: 991px) {
		padding-bottom: 40px;
	}
	big {
		margin-bottom: 30px;
		display: block;
		font-size: 24px;
		font-weight: normal;
		@include mq($max-width: 991px) {
			font-size: 20px;
		}
		@include mq($max-width: 767px) {
			font-size: 18px;
		}
	}
	ul.circled-list li::before{
		top: 4px;
	}
}
.ukpms-section__reservation {
	padding: 0;
	margin-bottom: 70px;
	font-size: 16px;
	@include mq($max-width: 991px) {
		padding-top: 20px;
		padding-bottom: 0px;
		margin: 0;
	}
}
.ukpms-section__ahg {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 16px;
}
.ukpms-section__rrc {
	padding-bottom: 0;
	@include mq($max-width: 991px) {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	ul {
		font-size: 16px;
		padding-bottom: 0;
	}
}
.ukpms-section__reputation {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	@include mq($max-width: 991px) {
		padding-top: 40px;
		padding-bottom: 10px;
	}
}
.ukpms-section__accounting {
	font-size: 16px;
	padding-bottom: 0;
	line-height: 1.5;
	@include mq($max-width: 991px) {
		padding-top: 10px;
	}
}
.ukpms-section__reporting {
	@include mq($max-width: 991px) {
		padding-top: 0px;
	}
}
.ukpms-section__salesforce-app {
	padding-top: 80px;
	padding-bottom: 0;
	@include mq($max-width: 991px) {
		padding-top: 40px;
	}
}
.ukpms-section__mobile {
	padding-top: 50px;
	line-height: normal;
	@include mq($max-width: 991px) {
		h2 {
			text-align: center;
		}
	}
	h3 {
		font-size: 18px;
		font-weight: 500;
		padding-bottom: 25px;
	}
	ul {
		font-size: 16px;
	}
}
.ukpms-section__property-types {
	padding-bottom: 45px;
	font-size: 20px;
}
.ukpms-section__why {
	padding-top: 45px;
	padding-bottom: 25px;
	.title-h2 {
		padding-bottom: 50px;
	}
	p {
		font-size: 16px;
		line-height: normal;
		padding: 0;
		font-weight: 400;
	}
}

.section-background__half-left {
	background: linear-gradient(to right, #f8fafc 50%, #fff 50%);
	@include mq($max-width: 991px) {
		background: none;
	}
}
.section-background__half-right {
	background: linear-gradient(to left, #f8fafc 50%, #fff 50%);
	@include mq($max-width: 991px) {
		background: none;
	}
}