.vacation-page__hero {
	@extend .segment__hero;
	background-color: #fff;
	background-image: url(../img/vacation_rental-cloud.jpg);
	background-position: bottom;
	padding-bottom: 120px;
	@include mq($max-width: 991px) {
		font-size: 24px;
	}
}
.vacation-page__center-text {
	background: linear-gradient(0deg, #fff, #fef4f3 100%);
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 35px 0 50px 0;
	.container {
		max-width: 1000px;
	}
	h2 {
		@extend .title-h2;
		padding-bottom: 25px;
	}
	p {
		color: #3a3a3a;
		padding-bottom: 20px;
	}
	.button-orange {
		margin-top: 10px;
	}
}
.vacation-page__main-title {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 10px;
	h2 {
		@extend .title-h2;
		padding-bottom: 25px;
	}
	p {
		color: #525252;
		padding-bottom: 20px;
	}
}

.vacation-page__articles {
	@extend .segment__articles;
	padding-bottom: 45px;
	@include mq($max-width: 991px) {
		padding-bottom: 0;
	}
}
.vacation-page__article {
	@extend .segment__article;
	padding: 15px 0;
	position: relative;
	color: #2d2d2d;
	article {
		padding: 50px 0;
		@include mq($max-width: 991px) {
			padding: 30px 0 20px;
		}
	}
	p {
		padding-bottom: 15px;
	}
	ul {
		li {
			padding-bottom: 20px;
			position: relative;
			padding-left: 35px;
			background: url(../img/coworking-list-icon.png) no-repeat left top;
			color: #2d2d2d;
		}
	}
}

.vacation-page__addons {
	p {
		text-align: center;
		color: #404040;
		padding-bottom: 25px;
	}
}

.rtl .vacation-page__article {
	ul {
		li {
			padding-left: 0;
			padding-right: 35px;
			background-position-x: right;
		}
	}
}
